<footer class="contact" id="contact">
  <h2>Give me a chance!</h2>
  <p>
    If you want any services or just want to say hi, send me a message using the form below
  </p>

  <form method="POST" action="http://formspree.io/theluckorange@yahoo.com">
    <input type="email" name="email" placeholder="Your email">
    <textarea name="message" placeholder="Your message"></textarea>
    <button type="submit">SEND</button>
  </form>

  <a href="https://www.instagram.com/codebrian_/"><img src="image/instagram.svg" alt=""></a>

  <p>&copy; Brian Munoz 2017</p>
</footer>
