<footer>
  <h2>Give me a chance!</h2>
  <p>
    If you want any services or just want to say hi, send me a message using the form below
  </p>

  <form method="POST" action="http://formspree.io/theluckorange@yahoo.com">
    <input type="email" name="email" placeholder="Your email">
    <textarea name="message" placeholder="Your message"></textarea>
    <button type="submit">Send</button>
  </form>

  <ul>
    <li><a href="https://www.instagram.com/codebrian_/">Instagram</a></li>
  </ul>

  <p>&copy; Brian Munoz 2017</p>
</footer>
