header {
  align-items: center;
  background-image: url('image/pretzel.jpg');
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 48px;
  height: 100vh;
}

header p {
  font-family: 'Satisfy', cursive;
  margin: 0;
}

header h2 {
  margin: 0;
}

nav {
  background-color: #000;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 15px 0;
}

nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
