.about {
  background-color: #f5f5f5;
  padding: 15px 0;
  text-align: center;
}

.about h2 {
  margin: 0;
}

.project {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 300px;
}

.project:hover > span {
  opacity: 1;
}

.project span {
  color: #fff;
  opacity: 0;
  text-decoration: none;
  transition: opacity ease 1s;
}

.projects {
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.projects a {
  text-decoration: none;
}

.small-details {
  background-color: #b16b6b;
  display: flex;
  height: 400px;
  justify-content: flex-end;
}

.small-details p  {
  font-size: 25px;
  text-align: right;
  margin: 20px 30px 0 0;
  width: 70%;
}

.work {
  background-color: #8a6bb1;
  padding: 25px 0;
}

.work .work-details {
  color: #fff;
  text-align: center;
}

.work .work-details h2 {
  margin: 0;
}

.work .work-details p {
  padding: 10px;
}

@media only screen and (min-width: 961px) {

  .project {
    width: 450px;
  }

  .projects {
    flex-direction: initial;
  }

  .small-details {
    height: 200px;
  }

}
